body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-blue{
  background-color: #ECF0FC;
}
.border-grey{
  border-color: #AAAABC;
}
div.dropdown-menu.show {
  background-color: #ECF0FC;
}
.nav-text:hover, .dropdown-toggle:hover{
  color:#4169e1 !important;
}

#nav-signup:hover{
  background-color: #4169e1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section{
  padding: 60px 0;
}